<article class="mb-3">
  <header>
    <h2>
      <a href="<%- url_for(post.path) %>" title="<%- post.title %>">
        <%= post.title %>
      </a>
    </h2>

    <div class="mb-2">
      <div class="d-inline-flex mr-2">
        <%= date(post.date, config.date_format) %>
      </div>

      <% if (post.tags && post.tags.length){ %>
        <% post.tags.each(function(tag, i){ %>
          <a href="<%- url_for(tag.path) %>" title="<%- tag.name %>"><%= tag.name %></a><% if (i + 1 < post.tags.length){ %>,<% } %>
        <% }) %>
      <% } %>
    </div>
  </header>

  <%- post.excerpt %>
</article>
